body {
    margin: 0;
    padding: 20px;
    font-family: 'Arial', 'Helvetiсa', sans-serif;
    font-size: 16px;
    background-color: white;
}

label {
    cursor: pointer;
}

input, select, button {
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 0 3px 1px #6a6a6a;
}

input:focus, select:focus {
    box-shadow: 0 0 4px 2px #2752d3;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.state {
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 0 3px 1px #999999;
}

.color-group-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.color-group-filter label {
    margin-bottom: 10px;
}

.color-group-filter select {
    font-size: inherit;
    width: 50%;
    max-width: 380px;
    padding: 5px;
}

.contrast-setting__notice {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.contrast-setting__control--wrapper {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 0 auto;
}

.contrast-setting__field {
    align-self: center;
    width: 120px;
    margin-bottom: 15px;
}

.contrast-setting__button--reset {
    font: inherit;
    line-height: 1.8rem;
    color: #ffffff;
    background-color: #34495e;
    box-shadow: 0 0 0 1px #2c3e50;
    border-radius: 1.8rem;
}

.color-collection__list {
    margin: 0;
}

.color-collection__item {
    display: flex;
}

.color-collection__item.hidden {
    display: none;
}

dt {
    flex-grow: 1;
    margin-right: 10px;
}

dd {
    margin: 0;
}

@media screen and (min-width: 426px) {
    .color-collection__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 15px;
    }

    .color-collection__item {
        max-width: 250px;
        margin-bottom: 0;
    }
}


